[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Looks for Golang executables in $PATH, guesses their origin and updates them or creates $GOPATH workspaces.
[access "refs/*"]
	owner = group user/Rafal Jeczalik (rjeczalik)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rafal Jeczalik (rjeczalik)
	label-Verified = -1..+1 group user/Rafal Jeczalik (rjeczalik)
	push = group user/Rafal Jeczalik (rjeczalik)
	read = group user/Rafal Jeczalik (rjeczalik)
	rebase = group user/Rafal Jeczalik (rjeczalik)
	removeReviewer = group user/Rafal Jeczalik (rjeczalik)
	submit = group user/Rafal Jeczalik (rjeczalik)
[access "refs/heads/*"]
	create = group user/Rafal Jeczalik (rjeczalik)
	push = +force group user/Rafal Jeczalik (rjeczalik)
	pushMerge = group user/Rafal Jeczalik (rjeczalik)
	read = group user/Rafal Jeczalik (rjeczalik)
[access "refs/tags/*"]
	push = group user/Rafal Jeczalik (rjeczalik)
	push = +force group user/Rafal Jeczalik (rjeczalik)
